<?php if (count($this->messages)) : ?>
<ul id="messages">
<?php foreach ($this->messages as $message) : ?>
<li><?php echo $this->escape($message); ?></li>
<?php endforeach; ?>
</ul>
<?php endif; ?>
<div id="loginForm">
    <?= $this->form;?>
</div>	
<style>
    .input-error {
        border-color: 'red';
    }
</style>
<script>
    $(function(){
        $('input[type="submit"]').prop('disabled', 'disabled');
        $('input').on('blur keyup', function() {
            if ($("#irmForm").valid()) {
                
                $('input[type="submit"]').prop('disabled', false);  
            } else {
                $("input.input-error").css('border-color', 'red');
                $('input[type="submit"]').prop('disabled', 'disabled');
            }
        });
         
        $('#irmForm').keydown(function(e) {
            var key = e.which;
            if (key == 13) {            
            // As ASCII code for ENTER key is "13"
                $('#irmForm').submit(); // Submit form code
                return false;
            }
        });

        $('#irmForm').validate({
            rules: {      
                
                username: {
                    required: true
                },
                companyname: {
                    required: true
                },
               
                password: {
                    required: true
                },
                
            },
            messages: {
                username: {required: 'User Name is a required field'},
                companyname: {required: 'Company name is a required field'},
                password: {required: 'Password is a required field'},
            },
            errorElement: 'li',
            errorPlacement: function(error, element) {
                
//                    var listHtml = '<ul></ul>';
//                    element.parent().after(listHtml);
//                    error.appendTo(element.parent().next('ul'));
               
			},
            highlight: function (element) {
                $(element).addClass('input-error');
            },
        });
        

    });

</script>
