<?php echo $this->doctype() . "\n" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <?php echo $this->headTitle(); ?>
    <?php echo $this->headMeta() . "\n"; ?>
    <?php echo $this->headLink() . "\n"; // link stylesheets?>
    <?php //echo $this->jQuery(); ?>
    <?php echo "\n" . $this->headScript() . "\n"; // link javascript?>
    <style>
.banner { height:615px;}
/* NAVIGATION */
#nav-outer { height:110px; padding-top:11px; position:relative; top:24px; 
/*             background-image:url("images/headerbg.png");*/
}
#navigation { 
/*    height:100px; width:960px;*/
              margin:0 35%; 
/*             background-image:url("images/logo.png"); */
/*              background-position:top left; background-repeat:no-repeat;*/ }

input {
    width: 300px;
}
/* Login form */
#loginForm { 
          padding:10px; 
          border: 1px solid #CCC;
          z-index:1000;
          position: relative;
/*background-color: #EEE;*/
border-radius:5px;
background-color: rgba(220, 220, 220, 0.9);
/*          float:right;
          width:220px; 
margin-left: -25%;
    position: absolute;
    margin-top: -25%;*/
}
#searchtxt { padding:3px; width:150px; }
#searchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }



/*.container { margin:150px auto 50px auto;}*/
</style>
    
</head>

<body>
<div class="container">
    <!--<h1 class="text-center">jQuery slidesbg.js Plugin Example</h1>-->
    <div class="banner">

        <div id="nav-outer">
            <div id="navigation">
                <?php //echo $this->flashMessenger('notice', '<div class="alert alert-%s" style="margin-top:10px;clear:left;">%s</div>'); ?>
                    <?php echo $this->layout()->content; ?>
                    
            </div>
        </div>
    </div>

</div>
<script>
var sliders = [
	"<?php echo $this->baseUrl("images/1.jpg");?>",
	"<?php echo $this->baseUrl("images/2.jpg");?>",
	"<?php echo $this->baseUrl("images/3.jpg");?>",
];

$(".banner").slidesbg({
	dataSlide: sliders,
	overlay:true,
	parallax: true,
	keyboard:true,
	delay: 3000,
	speed: 300,
})
</script>
    
</script>
</body>
</html>
